.header {
  height: 105px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background: rgb(19, 19, 20);
  background: linear-gradient(
    90deg,
    rgba(19, 19, 20, 1) 0%,
    rgba(117, 35, 124, 1) 52%,
    rgba(185, 27, 75, 1) 100%
  );

  -webkit-box-shadow: -1px 1px 19px 2px #000000;
  box-shadow: -1px 1px 19px 2px #000000;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
    .brand {
      font-family: "Fredoka One", cursive;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 19px 30px;
      font-size: 30px;
      font-weight: 800;
      text-shadow: 1px 3px 11px #000000;
    }
  }
}
